@import "../../styles/variables";

.board{
    position: absolute;
    width: $sizeCell * 8;
    height: $sizeCell * 8;
    display: flex;
    flex-wrap: wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    border: 20px #6c361f solid;
    border-radius: 3px;
    @media screen and (min-width:1920px) {
        width: $sizeCellBigMonitor * 8;
        height: $sizeCellBigMonitor * 8;
        border: 22px #6c361f solid;
    }
    @media screen and (max-width: 600px) {
        width: $sizeCellMobile * 8;
        height: $sizeCellMobile * 8;
        border: 10px #6c361f solid;
    }
    @media screen and (max-width:450px) {
        width: $sizeCellMobileMini * 8;
        height: $sizeCellMobileMini * 8;
        border: 8px #6c361f solid;
    }
}