@import "../../styles/variables";

.cell{
    width: $sizeCell;
    height: $sizeCell;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width:1920px) {
        width: $sizeCellBigMonitor;
        height: $sizeCellBigMonitor
    }
    @media screen and (max-width:600px) {
        width: $sizeCellMobile;
        height: $sizeCellMobile;
    }
    @media screen and (max-width: 450px) {
        width: $sizeCellMobileMini;
        height: $sizeCellMobileMini;
    }
    &_white{
        @extend .cell;
        background-color: rgb(238, 174, 91);
    }
    &_black{
        @extend .cell;
        background-color: rgb(19, 16, 34);
    }
    &_available{
        height: 12%;
        width: 12%;
        border-radius: 50%;
        background-color: greenyellow;
    }
    &.selected{
        background-color: #be291f;
    }
    &.pointer{
        cursor: pointer;
    }
}